
*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Lucida Grande, Arial, Helvetica, Sans-serif;
	font-size: 0.8em;
	text-align: left;
	background: #1e1815;
	color: #ffffff;
	margin: 0 0 0 0;
}


img {
	border: none;
}

.sansMolette {
	overflow: hidden;
}
.avecMolette {
	overflow: visible;
}

.transformiceDiv {
	float: left;
}

#repeat {
	background: url(images/background.png) repeat #221C19;
	margin: 0 0 0 0;
}

body{
	background:url(images/bg.jpg) repeat-x top #a6cee4;
	font:14px sans-serif;
	margin:0;
	padding:0;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}

#desbugador{
	margin: 0 auto;
}

#container{
	width: 822px;
	margin-left: 266px;
}

#logo{
	position: center;
	background: url(config/images/logo.png);
	width: 250px;
	height: 194px;
	margin-top: 100px;
}

#borda{
	background: url(images/borda.png);
	width: 822px;
	height: 622px;
}

.jeu{
	margin-top: -15px;
}

#ads{
	background: #f9f9f9;
	box-shadow: 0 0 3px #fff;
	width: 734px;
	height:96px;
	margin-right: 0px;
	border: 3px solid #fff;
	border-radius: 3px;
}

#client{
	background: #f9f9f9;
	box-shadow: 0 0 3px #ffffff;
	width: 80px;
	height:96px;
	float: right;
	border: 3px solid #fff;
	border-radius: 3px;
}

.postagem{
	background: #535b75;
	box-shadow: 0 0 3px #ffffff;
	width: 820px;
	margin-left: 1px;
	margin-top: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.postagem a{
	color: #535b75;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.postagem a:hover{
	color:#ffffff;
	text-shadow:0 0 3px #fff;
	text-decoration:none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.conteudo{
	padding-left: 30px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.avatar{
	float: left;
	width: 74px;
	height: 74px;
	margin-top: 35px;
	margin-left: 35px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	box-shadow: 0 0 3px #fff;
	border-radius: 5px;
}

.titulo{
	float:left;
	font-size: 21px;;
	margin-top: 30px;
	margin-left: 10px;
}

.autor{
	float:left;
	font-size: 15px;;
	margin-top: 60px;
}

left{
	float: left;
	text-shadow: 0 0 1px #fff;
}

left a:hover{
	color:#ffffff;
	text-shadow:0 0 3px #ffffff;
	text-decoration:none;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}